Q1.Explain with an example each when to use a for loop and a while loop.

ans:- The for loop iterates through a collection or iterable object or generator function. The while statement simply loops until a condition is False. Examples are as follow:

In [17]:
l=[1,"shrinu", 234.56,[2,5,6]]

In [18]:
for i in l:
    print(i)

1
shrinu
234.56
[2, 5, 6]

In [15]:
number=int(input("enter the number for its table"))
multiple=1
while multiple<=10:
    result= number*multiple
    print(number,"*",multiple,"=",result)
    multiple=multiple+1

enter the number for its table 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [19]:
n=1
counter=0
while n<=10:
    counter=counter+n
    n=n+1
print(counter)

55

In [13]:
n=1
counter=1
while n<=10:
    counter=counter*n
    n=n+1
print(counter)

3628800

In [12]:
counter=0
for i in range(11):
    counter=counter+i
print(counter)

55

In [11]:
counter=1
for i in range(1,11):
    counter=counter*i
print(counter)

3628800

Q3. Create a python program to compute the electricity bill for a household. The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [10]:
elec_unit=int(input("enter the units of electricity consumed in a month"))
if elec_unit<=100:
    elec_bill=4.5*elec_unit
elif elec_unit>100 and elec_unit<=200:
    elec_bill=(4.5*100)+((elec_unit-100)*6)
elif elec_unit>200 and elec_unit<=300:
    elec_bill=(4.5*100)+(6*100)+((elec_unit-200)*10)
elif elec_unit>300:
    elec_bill=(4.5*100)+(6*100)+(100*10)+((elec_unit-300)*20)
print("Final bill","=","Rs",elec_bill)

enter the units of electricity consumed in a month 300

Final bill = Rs 2050.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of     that number is divisible by 4 or 5 then append that number in a list and print that list

In [7]:
l=list(range(1,101))

In [8]:
l1=[]
for i in l:
    cube=i*i*i
    if cube%4==0 or cube%5==0:
        l1.append(cube)

In [9]:
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [4]:
l1=[]
l=1
while l<=100:
    cube=l*l*l
    if cube%4==0 or cube%5==0:
        l1.append(cube)
    l=l+1

In [5]:
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

Q5. Write a program to filter count vowels in the below-given string.
    string = "I want to become a data scientist"

In [3]:
string_input=input("enter the string")
string=string_input.lower()
count=0
for i in range(len(string)):
    if string[i]=="a" or string[i]=="e" or string[i]=="o" or string[i]=="i" or string[i]=="u":
        count=count+1
print(count)

enter the string I want to become a data scientist

12

In [2]:
string_input=input("enter the string")
string=string_input.lower()
count_a=0
count_e=0
count_i=0
count_o=0
count_u=0
for i in range(len(string)):
    if string[i]=="a":
        count_a=count_a+1
    elif string[i]=="e":
        count_e=count_e+1
    elif string[i]=="i":
        count_i=count_i+1
    elif string[i]=="o":
        count_o=count_o+1
    elif string[i]=="u":
        count_u=count_u+1
print("a=",count_a,"e=",count_e,"i=",count_i,"o=",count_o,"u=",count_u)

enter the string I WANT TO BECOME A DATA SCIENTIST

a= 4 e= 3 i= 3 o= 2 u= 0