Q1. What is a database? Differentiate between SQL and NoSQL databases.

ans: 

A database is a systematic or organized collection of related information that is stored in such a way that it can be easily accessed, retrieved, managed, and updated.

SQL databases are relational, and NoSQL databases are non-relational. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

ans:

DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database

*CREATE*

This command is used to create a new table in SQL.

Query:

CREATE TABLE Student_info

(College_Id number(2),

College_name varchar(30),

Branch varchar(10));

*ALTER* 

This command is used to add, delete or change columns in the existing table.

Query:

ALTER TABLE table_name

ADD column_name datatype;

*TRUNCATE*

This command is used to remove all rows from the table, but the structure of the table still exists.

Query: TRUNCATE TABLE table_name;

*DROP*

This command is used to remove an existing table along with its structure from the Database.

Query: DROP TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ans:

DML is an abbreviation of Data Manipulation Language. The DML in DBMS is responsible for performing CRUD (Create Read Update and Delete) operations on the data of the database table. Data Manipulation Language (DML) allows you to modify the database tables by inserting, modifying, and deleting their data.

*INSERT*

This command is used to enter the information or values into a row

Query:

INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur');

*UPDATE*

This command is used to alter existing table records. Within a table, it modifies data from one or more records.

Query:

UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

*DELETE*

It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

DELETE FROM students

Query:

WHERE stu_id = '001';

Q4. What is DQL? Explain SELECT with an example.

ans:

DQL (Data Query Language).
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it

*SELECT*

To fetch the entire table or all the fields in the table.

Query:

SELECT CustomerName, LastName FROM Customer;

 SELECT * FROM Customer;

*SELECT Statement with WHERE Clause*

Suppose we want to see table values with specific conditions then Where Clause is used with select statement

Query: SELECT CustomerName FROM Customer where Age = '21';

*SQL SELECT Statement with GROUP BY Clause Query*

Query: SELECT COUNT (item), Customer_id FROM Orders GROUP BY order_id;

*SELECT Statement with HAVING Clause*

Query:

SELECT Department, sum(Salary) as Salary

FROM employee

GROUP BY department

HAVING SUM(Salary) >= 50000;

*SELECT Statement with ORDER BY clause in SQL*

Query:

SELECT * FROM Customer ORDER BY Age DESC;

Q5. Explain Primary Key and Foreign Key.

ans:

A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",
  
  user="abc",
  
  password="password")

cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.  Cursors are created by the connection.cursor() method

Example : mycursor = conn.cursor()

The execute () method helps us to execute the query and return records according to the query.

Example:

mycursor = conn.cursor()

mycursor.execute("SELECT * FROM MOVIE")

Q7. Give the order of execution of SQL clauses in an SQL query.

# *7 STAGES OF SQL ORDER OF EXECUTION*
# 1. FROM/JOIN : Choose and join tables to get base data
# 2. WHERE: Filters the base data
# 3. GROUP BY: Aggregates the base data
# 4. HAVING: Filters the aggregated data
# 5. SELECT: Return the final data 
# 6. ORDER BY: Sorts the final data
# 7. LIMIT/OFFSET: Limit the returned data to a row count